/*------ style 1 ----------*/
/*
ul {
    list-style: none;
    padding-left: 0;
}

.basic li,
.contact li {
    display: inline-block;
    margin-right: 2em;
}

li {
    font-weight: 700;
}

span {
    font-weight: 400;
}

.ability span,
.education span,
.project span {
    display: block;
    margin-bottom: 1em;
}*/

/*-------- style 3 ---------*/
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 1em;
    display: inline-block;
    margin-left: 1em;
}
.basic li,
.contact li {
    display: inline-block;
    margin-right: 2em;
}

li {
    font-weight: 700;
}

span {
    font-weight: 400;
}

div.header {
    background-color: #878787;
    color: white;
    padding: 0.3em 1em;
}

h1,
h2 {
    font-size: 1.2em;
}

div.main {
    margin: 0;
    padding: 0;
}

div.main div {
    padding: 0;
    border: 1px solid #D6D6D6;
}

div.main h2 {
    display: inline-block;
    margin: 0;
    padding: 2em 1em;
    background-color: #D6D6D6;
    border-bottom: 1px solid white;
}